@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

/* Custom fonts */
@font-face {
  font-family: "Gloria";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Amatic";
  font-style: normal;
  font-weight: normal;
}

.font-gloria {
  font-family: "Gloria", cursive;
}

.font-amatic {
  font-family: "Amatic", cursive;
}
